@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p,
  a,
  h1,
  h2,
  button,
  input,
  ::placeholder {
    @apply font-qanelas;
    @apply text-white;
  }

  a {
    @apply text-sm;
  }

  @font-face {
    font-family: "Qanelas";
    src: url("/fonts/Qanelas/Qanelas-Bold.ttf");
  }

  @font-face {
    font-family: "Gilroy";
    src: url("/fonts/Gilroy/Gilroy-Light.otf");
  }
}

@layer components {
  .navbar-div {
    @apply border-2 rounded-lg hover:border-red-400;
  }
}

@layer utilities {
  .text-gradient {
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
